/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  transition: 300ms ease-in-out all;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
